DAO_SERVER_URL=http://localhost:8080
# Manual specification for the server's public key for this wallet build.
# If this is set, the wallet will check it against the server's key 1 more time before
# remembering it in local storage.
DAO_SERVER_PUBKEY=<server-public-key>
